.Details__main{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.Details__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    align-items: start;
    margin: 0px;
    width: 1000px;
    margin-bottom: 2rem;
}

.Details__container__Img{
    display: flex;
}

.information__Details{
    width: 800px;
    margin-top: 120px;
    margin-left: 2rem;
}

.text__Details__Title{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 29px;
}
.text__Details__Price{
color: #1d1d1d;
font-family: 'Lexend', sans-serif;
font-weight: 500;
font-size: 17px;
margin-top: 1rem;
}

.text__Details__Presentation{
font-size: 14px;
line-height: 22px;
font-family: "Poppins Regular";
color: black;
padding-top: 0.4rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
text-align: center;
}

.us-container__Details-movil{
    display: none;
}





/*Agotado*/
.no__Disponible__Container--Details{
    background-color: #ec3b3b;
    border-radius: 0.5rem;
    border-color: 2px #a10b0b;
    width: 100px;
    height: 35px;
    text-align: center;
    margin-top: 3rem;
  }
  
  .no__Disponible--Details{
    color: #ffffff;
    border-radius: 0.5rem;
    font-family: "Montserrat";
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
  }

/*Disponible*/
  .Disponible__Container--Details{
    background-color: #2dc25a;
    border-radius: 0.5rem;
    border-color: 2px #218f42;
    width: 100px;
    height: 35px;
    text-align: center;
    margin-top: 3rem;
  }
  
  .Disponible--Details{
    color: #ffffff;
    border-radius: 0.5rem;
    font-family: "Montserrat";
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
  }











@media only screen and (min-width: 1400px) {

}


@media only screen and (max-width: 960px) {

    .formSearch__Container__Main{
        display: none;
    }

    .us-container__Details-movil {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        margin: 0rem !important;
        width: 100% !important;
    }

    .text__Details__Title{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 23px;
        margin: 2rem;
        }


}