    .Top_header-Container-Copy {
    display: block;
    background: rgb(255, 255, 255);
    height: 110px;
    width: 100%;
    align-items: center;
    font-family: 'Roboto';
    }

    .ContainerHeader {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
        max-width: 1000px;
        margin-left: 80px;
      }
  
    .content-Top{
      text-align: start;
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 0.8px;
      padding-top: 0px;
      
    }

    .navbar-logo {
      margin-top: 1rem;
      height: 1.8rem;
      width: 4.5rem;
      margin-left: 3rem;
    }

    .Link-Top-Header {
        color: rgb(255, 255, 255);
        text-decoration: none;
      }

    .Linea {
        display: block;
        border-top: 0.5px solid rgb(245, 245, 245);
        height: 0px;
        max-width: 100%;
        padding: 0;
        margin-bottom: 5px ;
      }

    /*--------------------- Opciones Derecha ----------------------*/
    .content-Top-Op{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      position: absolute;
      width: 90%;
    }

    .content-Top-options{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      margin-right: 3rem;
    }

    .content-Top-options-list{
      margin-top: 2.5rem;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .content-Top-options-list-icons-set{
      margin-top: 2.5rem;
      margin-left: 15px;
      padding: 10px;
    }

    .content-Top-options-list-icons{
      margin-top: 2.5rem;
      padding: 10px;
    }

    .content-Top-options-list-link{
      color:black;
      font-family: 'Gotham', sans-serif;
      font-size: 14px;
      text-decoration: none;
      letter-spacing: 1px;
    }

    .content-Top-options-list-link:hover{
      color:#049e1e;
    }




    @media screen and (max-width: 960px) {

  

      .Top_header-Container-Copy {
        display: block;
        position: fixed;
        top: 0;
        background: rgb(255, 255, 255);
        height: 80px;
        z-index: 10;
        }

        .ContainerHeader {
          display: flex;
          flex-direction: row;
          
          height: 100%;
          justify-content: flex-start;
          max-width: 1000px;
          margin-left: 10px;
        }


      .navbar-logo {
        display: block;
        position: absolute;
        margin-top: 0.9rem;
        height: 0.9rem;
        width: 2.9rem;
        margin-left: 0.9rem;
      }

      /*------------------lista de Opciones---------------*/

      .content-Top-Op{
        display: none;
      }

    }
    