.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 72px;
  list-style: none;
  text-align: start;
}



.dropdown_menu_occho{
  position: absolute;
  height: 158px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  width: 100px;
  z-index: 999;
  transition: 0.5s;
}

.dropdown_menu_occho.desactive{
  position: absolute;
  height: 0px !important;
  z-index: 999;
  transition: 0.5s;
}


.dropdown-menu li {
  background: #1B1D29; /*1B1D29*/
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}



.dropdown-list-option{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


.dropdown-list-option:hover{
  display: flex;
  cursor: pointer;
  background-color: #1c4905;
}


.dropdown-list-option:hover.desactive{
  display: none;
  transition: 0.5s;
}

.dropdown-list-option.desactive{
  transition: 0.5s;
}





.content-dropdown-list {
  color: rgb(0, 0, 0);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-size: 14px;
  text-decoration: none;
  transition: all .25s ease-in-out;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.5s;
}

.content-dropdown-list-hover {
  color: rgb(255, 255, 255);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-size: 14px;
  text-decoration: none;
  transition: all .25s ease-in-out;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.5s;
}



.content-dropdown-list.desactive{
  opacity: 0;
  transition: 0.2s;
  z-index: -1;
}

.content-dropdown-list:hover.desactive{
  display: none;
}


@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    height: 20%;
    width: 100%;
    position: relative;
    text-align: start;
  }
  .menu-options-list li  {
    margin: 0.5rem;
}
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #5cabff;
  }
}
