.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BrandsCarrousel{
  margin-top: 90px;
}

.main-Container-brand {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.container-Slick-brand{
  display: block;
  justify-content: center;
  width: 1200px;
}

.mainContainer-brand-movil{
  display: none;
}









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2{
  color: white;
  text-align: center;
}



.mainContainer-brand .slick-track{
  height: 150px !important;
  margin-top: 20px;
  margin-bottom: 0px;
}
.slick-slide {
  display: none;
  float: left;
  height: 20px !important;
  min-height: 1px;

}
.slick-arrow .slick-next{
  display: block !important;
}


.btn_trayectory__containerBrands{
  display:flex;
  position: relative;
  margin-top: 0rem;
}





.mainContainer-brand{
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.mainContainer-brand .container{
  padding: 0px 0;
}

.mainContainer-brand .container img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.container{
  filter: invert(0.2);
  opacity: 0.6;
  transition: all .7s ease-in-out;
}
.container:hover{
  filter: invert(0);
  opacity: 1;
  scale: 1.2;
  transition: all .7s ease-in-out;
}

div h3{
  color: white;
  font-weight: bold;
}







@media only screen and (max-width: 960px) {

  .mainContainer-brand{
    display:none;
  }

  .main-Container-brand {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 140px;
  }
  
  .container-Slick-brand{
    display: block;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  
  .mainContainer-brand-movil{
    display: block;
    padding-bottom: 3rem;
  }

  .BrandsCarrousel{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    text-align: center;
  }



  .container-movil{
    display: flex;
    justify-content: center;
  }



  .mainContainer-brand .container img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: center;
  }

  .center__Movil{
    margin-left: 0.6rem !important;
  }
  

  .container-movil-btn{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 2rem;
    scale: 0.7;
  }
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
