*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

/*Colores*/
/*Theme and Colors*/

.main-green{
  color: #47A01A;
}
.secondary-green{
  color: #1F4931;
}




  /*Fuentes*/

  .Montserrat-Font{
    font-family: 'Gotham', sans-serif;
  }
  .Gothan-Font{
    font-family: 'Gotham', sans-serif;
  }
 



