.navbar {
  background: linear-gradient(90deg, rgb(69, 129, 47) 0%, rgb(12, 87, 47)  100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: sticky;
  font-family: 'PT Sans', sans-serif;
  top: 0;
  z-index: 999;
  letter-spacing: 0.7px;

}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 0.8rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  border-color: #ef3e33;
}


.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 4px solid transparent;
}

.nav-links_active {
  /* background-color: #C5CF2F;*/
  border-bottom: 4px solid #C5CF2F;
  border-radius: 0px;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 4px solid #C5CF2F;
}


.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}





ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.desktopNav {
  width: 100%;
  position: relative;
  background-color: #202020;
  color: #fff;
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.desktopNav__lower {
  height: 40px;
  text-align: center;
}

.desktopNav__linkContainer {
  display: flex;
  margin: 0 auto;
}

.desktopNav__linkWrapper {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 18px;
  margin: 0 auto;
  cursor: pointer;
  list-style: none;
}

.desktopNav__container .desktopNav__flyout-container {
  position: absolute;
  z-index: -1;
  left: 0;
  display: grid;
  width: 100%;
  background-color: #fff;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  top: 100%;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  height: auto;
  -webkit-box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.desktopNav__container .mvl-flyout {
  grid-column-start: 1;
  grid-row-start: 1;
  height: auto;
  -webkit-transition-property: opacity,visibility,height;
  transition-property: opacity,visibility,height;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.mvl-flyout:hover {
  position: absolute;
  z-index: -1;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  padding-bottom: 20px;
  background-color: rgb(211, 90, 90);
}





















@media screen and (max-width: 960px) {
  .navbar-logo {
    display: block;
    position: absolute;
    padding-top: 0.5rem;
    left: 6%;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    display: block;
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    border-bottom: 3px solid transparent;
  }

  .nav-links:hover {
    background-color: #C5CF2F;
    padding: 2rem;
    color: #0C572F;
    border-radius: 0;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #C5CF2F;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #C5CF2F;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
