/*PRINCIPAL NAV BAR*/

.navbar {
  background: linear-gradient(90deg, rgb(2, 2, 2) 0%, rgb(3, 3, 3)  100%);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: list-item;
}

.navigation__container--navs{
  justify-content: center;
  position: flex;
  top: 0;
  left: 0;
  z-index: 80;
}


/*----------DESKTOP NAV----------*/

.desktopNav__container {
  display: block;
  position: relative;
  width: 100%;
}

.desktopNav {
  width: 100%;
  position: relative;
  color: rgb(236, 122, 122);
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktopNav__lower {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/*----------UL CONTAINER----------*/

.desktopNav__linkContainer {
  display: flex;
  padding: 0;
}
.desktopNav__linkContainer .desktopNav__linkWrapper .desktopNav__link:hover {
  color:rgb(209, 82, 82);
}

/*----------IL CONTAINER----------*/
.desktopNav__linkWrapper {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 50px;
  margin: 0 auto;
  cursor: pointer;
  list-style: none;
}

.desktopNav__linkWrapper-mvl-flyout--active {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 50px;
  margin: 0 auto;
  cursor: pointer;
  list-style: none;
}


.desktopNav__flyout-container {
 opacity: 0;
}

.desktopNav__flyout-container-active {
  position: absolute;
  z-index: -1;
  left: 0;
  display: grid;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(226, 226, 226);
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  top: 100%;
  padding: 0;
  opacity: 100;
  visibility: visible;
  height: auto;
  box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

.desktopNav__flyout-container--cero{
  display: none;
}

.fondoBlanco{
  position: absolute;
  z-index: -1;
  left: 0;
  display: grid;
  width: 100%;
  top: 100%;
  padding: 0;
  opacity: 100;
  height: auto;
  color: #0C572F;
  background-color: rgb(129, 124, 124);
}

.desktopNav__link{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font: 400 12px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.desktopNav__link .mvl-flyout-button--active{
  color: rgb(245, 57, 57);
  border-bottom: 2px soild #cdf51b;
}






/*
  .mvl-flyout:hover {
  position: absolute;
  z-index: -1;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  padding-bottom: 20px;
  background-color: rgb(211, 90, 90);
}
*/






















@media screen and (max-width: 960px) {
  .navbar-logo {
    display: block;
    position: absolute;
    padding-top: 0.5rem;
    left: 6%;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    display: block;
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    border-bottom: 3px solid transparent;
  }

  .nav-links:hover {
    background-color: #C5CF2F;
    padding: 2rem;
    color: #0C572F;
    border-radius: 0;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #C5CF2F;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #C5CF2F;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
