/*PRINCIPAL NAV BAR*/

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar {
  background: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/*----------MENU ICON----------*/

.menu-icon {
  display: none;
}


/*----------DESKTOP NAVBAR----------*/

.movilNav__container{
  display:none;
}

.movilNav__lower{
  display: none;
}

.desktopNav__container--navbar{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.desktopNav__top{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.desktopNav__lower{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.desktopNav__container-line{
    display: flex;
    width: 100%;
    height: 50px;   
    cursor: pointer;
}

.desktopNav__container-line-hover {
  color: rgb(5, 172, 28);
  text-decoration: none;
  transition: 0.1s;
  border-bottom: 4px solid  rgb(5, 172, 28);
}

.desktopNav__container-line-title{
  color: black;
  font-family: 'Gotham Light', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}
.desktopNav__container-line-title-hover{
  color: rgb(5, 172, 28);
  font-family: 'Gotham Light', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}

.desktopNav__container-line-title:hover{
  color: rgb(5, 172, 28);
  font-family: 'Gotham Light', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}

.desktopNav__container {
  display: absolute;
  top: 20;
  visibility: hidden;
}

.desktopNav__container--active{
  position: absolute;
  display: block;
  visibility: visible;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50%;
  padding-right: 50%;
  background-color: rgb(255, 255, 255);
  transition: all 5s ease;
  width: 0px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.09);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.09);
}

.desktopNav__container-Drowbox-container{
  width: 1200px;
  left: 50%;
  margin-left: -600px;
}

.desktopNav__container-Drowbox{
  display:inline-block;
  align-content: flex-start;
}

.desktopNav__SubLines{
  display: inline-block;
  vertical-align:top;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}

.desktopNav__SubLines-Title{
  display: block;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  font-size: 13px;
  max-width: 180px;
  letter-spacing: 0.8px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.desktopNav__SubLines-Title-link{
  color: #1f1f1f;
}

.desktopNav__SubLines-Title-link:hover{
  color: #049e1e;
}

.desktopNav__Container-Lines-subLines{
  display: block;
  justify-content: start;
  line-height: 13px;
  text-align: start;
  margin-top: 25px;
}

.desktopNav__Container-Lines-subLines-List{
  font-family: 'Gotham ', sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  width: 150px;
  line-height: 17px;
  margin-top: 5px;
  padding-top: 5px;
}

.desktopNav__Container-Lines-subLines-List{
  color: rgb(70, 70, 70);
}

.desktopNav__Container-Lines-subLines-List:hover{
  color: rgb(5, 172, 28);
  cursor: pointer;
}


@media screen and (max-width: 960px) {


  /*----------MENU ICON----------*/
  .menu-icon {
    display: block;
    position: absolute;
    color: #049e1e;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  /*----------MOVIL NAV----------*/
  .navbar {
    display: none;
    height: 0px;
    border-bottom: 0px solid rgb(235, 235, 235);
    border-top: 0px solid rgb(235, 235, 235);
  }

  .desktopNav__container--navbar{
    display: none;
  }

  .desktopNav__lower{
    display: none;
  }

  .movilNav__container{
    position: absolute;
    width: 100%;
  }

  .movilNav__lower{
    display: block;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
  }
  
  .movilNav__container-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;   
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .movilNav__container-line-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;   
    text-decoration: none;
    color: rgb(5, 172, 28);
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .movilNav__container-line-title{
    font-family: 'Gotham Light', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .movilNav__container-line-icon{
    position: absolute;
    width: 44px;
    height: 63px;
    right: 0;
    z-index: 1;
    cursor: pointer;
  }

  /*----------NAVBAR ACTIVE----------*/
  .navbar {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar.active {
    display: block;
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }


  /*----------DROPDOWN MENU----------*/
  .luis{
    display: block;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .david{
    display: none;
    background-color: #049e1e;
  }
  
  .movilNav-SubLines{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;   
    text-decoration: none;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(75, 75, 75);
    
  }

  .movilNav-SubLines:focus{
    text-decoration: none;
    background-color: #049e1e;
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(255, 255, 255);
  }

  .movilNav-SubLines-title{
    font-family: 'Gotham Light', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
  }

  .movilNav-SubLines-title:focus{
    color: rgb(255, 255, 255);
    font-family: 'Gotham Light', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
  }

  .dropdown-menu {
    width: 100%;
    display: block;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
}

















