/*PRINCIPAL NAV BAR*/

.navbar {
  background: rgb(224, 224, 224);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

li {
  display: list-item;
}


/*----------DESKTOP NAV----------*/

.desktopNav__container--navbar{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.desktopNav__container-title{
  color: black;
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}


.desktopNav__container {
  display: absolute;
  top: 20;
  visibility: hidden;
}

.desktopNav__container--active{
  position: absolute;
  visibility: visible;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(247, 247, 247);
}
.desktopNav__container-Drowbox{
  display: block;

}

.desktopNav__col{
  display: inline-flex;
  font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 10px;
}
