
  .header-container {
    background-image: url('../../../public/images/home011.jpg');
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .home-img-wrapper {
    max-width: 150px;
    margin-right: 580px;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    font-family: 'Gotham ', sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
  
  .home-message {
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }