/*Especiales de UI*/
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 5px 0 !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 44px !important;
}
.css-15v22id-MuiAccordionDetails-root {
  padding: 3px 16px 10px !important;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
  background-color: #4E4E4E !important;
  color: rgb(255, 255, 255) !important;
}


.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  background-color:  #1b1b1b !important;
  box-shadow: inset 0 calc(-1 * var( #47A01A)) 0 var( #47A01A);
}
.accordion{
  --bs-accordion-btn-focus-border-color: #0e3d85 !important;
  --bs-accordion-active-color: #a5c1eb !important;
}







.filter__container__Main__Movil{
  display: none;
}

.filter__container__Main{
  width: 250px;
}
.filter__container__Main__Arcodion{
  width: 250px;
  overflow-y: scroll !important;
  height: 60vh;
}

.filter__container__List{
  text-decoration: 'none';
  padding-top: 1rem;
  margin-bottom: 0rem;
}
.filter__container__List:hover{
  background-color: #47A01A;
}






.containerFilter__Sidebar{
  display: flex;
  justify-content: start;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 0.8rem;
}

.containerFilter__Basic{
    display: flex;
    justify-content: start;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 0.8rem;
}


.text__Filter{
    font-size: 13px;
}
.iconFilter{
    display: flex;
    font-size: 18px;
    width: 500px;
}

.iconOptionFilters{
  display: flex;
  position: absolute;
  margin-left: 78%;
  justify-content: end;
}


.boxFilters{
  background-color: #ffffff;
  padding-top: 1rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
}



.title__Filter-Main{
    color: #616161;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1px;
    /*text-transform: uppercase;*/
    cursor: pointer;
    margin-left: 5px;
    margin-right: 20px;
  }



.title__Filter{
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 0px;
    transition: all .1s ease-in-out;
  }
  
.title__Filter:hover{
    color: #787981;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  .subtitle__Filter{
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 20px;
    /*margin-top: 15px;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .1s ease-in-out;
  }
  .subtitle__Filter:hover{
    color: #058005;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  .subCategorie__Filter{
    color: #252525;
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px !important;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 15px;
    transition: all .1s ease-in-out;
  }
  .subCategorie__Filter:hover{
    color: #787981;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  

    /*Acordion Categoria*/

    .AccordionDetails{
        margin-left: 1.5rem;
        margin-top: 0rem;
    }
    .AccordionSummary{
        margin-left: 1rem;
    }








  /*Cheeck Bottom*/
  .container__TitleCheckbox{
    display: flex;
    margin-bottom: 10px;
  }

  .subtitle__Filter__check{
    color: #23263b !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: -2px;
  }

  .form-check-input.is-valid:checked{
    background-color: #47A01A !important;
    border-color: #47A01A !important;
  }
  .form-check-input.is-valid, .was-validated .form-check-input:valid{
    border-color: #23263b !important;
  }

  .CheckboxList{
    margin-left: 0.2rem;
  }



  @media only screen and (max-width: 960px) {
    
    

    .filter__container__Main__Movil{
      display: block;
      
      
    }

    /* Filtro Movil*/
    .Sidebar__Filtro{
      display: flex;
    }

    .Sidebar__Filtro__Title{
      display: flex;
      justify-content: end;
      padding-right: 0rem;
      margin-top: 5px;
      border: #23263b;
    }

    .title__Filter-Main{
      margin-right: 0px;
    }

    .containerFilter__Sidebar{
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-left: 0px;
      margin-bottom: 0px;
  }

  .containerFilter__Basic{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 0.8rem;
}







}