 /*-----------Banner-----------*/

 .Banner-Commercial-Movil{
    display: none;
  }

  .Banner__comercial{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container-Commercial-Main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .banner-img{
    display: flex;
    object-fit: fill;
    width:100%;
    height:100%;
    z-index: 5;
  }
  .banner-img:hover{
    cursor: pointer;
  }

  .container-Commercial-Main-Content{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    margin-left: 15%;
    margin-top: 6%;
  }

  .container-Banner-Commercial-Content-title {
    display: flex;
    justify-content: center;
    width: 500px;
    z-index: 10;
    line-height: 50px;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
  }


  @media only screen and (min-width: 1400px) {
    .container-Commercial-Main{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }



  @media screen and (max-width: 960px) {

    .Banner-Commercial-Desktop{
      display: none;
    }
    .container-Commercial-Main{
      display: none;
    }

    .Banner-Commercial-Movil{
      display: inline-block;
      width: 100%;
    }

    .container-Commercial-Main-Movil{
      display: inline-flex;
      width: 100%;
      width: 100%;
      height: 100%;
    }

    .banner-img-Movil{
      display: flex;
      object-fit: cover;
      width:100%;
      height: 100%;
    }


    .container-Banner-Commercial-Content-Movil{
      display: flex;
      position: relative;
      justify-content: center;
      width: 100%;
      z-index: 1 !important;
    }
    .container-Banner-Commercial-Content-title-Movil {
      display: flex;
      justify-content: center;
      width: 90%;
      margin-top: 0rem;
      margin-bottom: 0.6rem;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 10;
      font-size: 3rem;
      line-height: 50px;
      color: rgb(34, 34, 34);
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 2.1rem;
      line-height: 2.5rem;
      letter-spacing: -1px;
    }


  }